<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery store</title>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3" role="navigation">
        <a class="col-2 col-sm-3 navbar-brand text-left mr-auto" href="/">Grocery store</a>
        <div class="col-4 col-sm-3 text-right">
            <small class="navbar-text session-cart d-none">
                <b>Your cart:</b>
                <span class="session-cart_count">0</span> item(s)
                $<span class="session-cart_total-price"></span>
            </small>
            <a class="btn btn-sm btn-secondary navbar-btn" asp-controller="Cart" asp-action="Index">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
    </nav>
    <div class="d-flex justify-content-center">
        <main role="main" class="col-8">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
